<!DOCTYPE html>
<html>
    <head>
        <title>Articles Portal</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Articles Portal</a></h1>
        </header>
        {% for article in articles %}
            <article>
                <time>published: {{ article.published_date }}</time>
                <h2><a href="">{{ article.article_title }}</a></h2>
                <p>{{ article.article_text|linebreaksbr }}</p>
            </article>
        {% endfor %}
      
    </body>
</html>