<!DOCTYPE html>
<html>
    <head>
        <title>Articles Portal</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Articles Portal</a></h1>
        </header>

        <article>
            <h2><a href="">Research1</a></h2>
            <p></p>
        <article>

        <article>
            <h2><a href="">Research2</a></h2>
            <p></p>
        </article>

        <article>
            <h2><a href="">Research3</a></h2>
            <p></p>
        </article>
    </body>
</html>